<ul class="my-collection">
    {% if plants.size > 0 %}
        {% for plant in plants %}
        <li class="{{ plant.main_zone.type }}">
            <article>
                <h2>{{ plant.name }}</h2>
                <h3 class="italic">{{ plant.latin }}</h3>
            </article>
            <img src="/assets/images/alium.webp" alt="">
        </li>
        <li class="{{ plant.main_zone.type }}">
            <article>
                <h2>{{ plant.name }}</h2>
                <h3 class="italic">{{ plant.latin }}</h3>
            </article>
            <img src="/assets/images/alium.webp" alt="">
        </li>
        <li class="{{ plant.main_zone.type }}">
            <article>
                <h2>{{ plant.name }}</h2>
                <h3 class="italic">{{ plant.latin }}</h3>
            </article>
            <img src="/assets/images/alium.webp" alt="">
        </li>
        <li class="{{ plant.main_zone.type }}">
            <article>
                <h2>{{ plant.name }}</h2>
                <h3 class="italic">{{ plant.latin }}</h3>
            </article>
            <img src="/assets/images/alium.webp" alt="">
        </li>
        {% endfor %}
    {% else %}
        <p>Je hebt nog niks gespaard
            Start de <span> Veldverkenner </span> om meer te weten te komen over wat er groeit en je collectie aan te vullen
        </p>
    {% endif %}
</ul>