<ul>
{% for plant in plants %}
    <li>
        <h2>{{ plant.name }}</h2>
        <h3>{{ plant.latin }}</h3>
    </li>
    <li>
        <h2>{{ plant.name }}</h2>
        <h3>{{ plant.latin }}</h3>
    </li>
    <li>
        <h2>{{ plant.name }}</h2>
        <h3>{{ plant.latin }}</h3>
    </li>
    <li>
        <h2>{{ plant.name }}</h2>
        <h3>{{ plant.latin }}</h3>
    </li>
    {%endfor %}
</ul>