{% for zone in zones %}
    <section popover id="{{ zone.slug }}" class="zonepopover">
        <section class="popoverquestion">
            {% if zone.quest %}
                <p>{{ zone.quest.title }}</p>
                <p>{{ zone.type }}</p>
                {% render 'partials/general-heading.liquid',
                    heading_level: 2,
                    content: zone.quest.question_title,
                %}
                <p>{{ zone.quest.question_text }}</p>
                {% else %}
                <h2>{{ zone.name }}</h2>
                <p>Geen opdrachten in deze zone.</p>
            {% endif %}

            <article class="options">
                {% for option in zone.quest.options %}
                    {% if zone.quest.type == 'button' %}
                        <button class="styled answer {% if option.value == zone.quest.correct_answer %}correct{% else %}incorrect{% endif %}">
                            {{ option.label }}
                        </button>
                    {% elsif zone.quest.type == 'image' %}
                        <button class="{% if option.value == zone.quest.correct_answer %}correct{% else %}incorrect{% endif %}">
                            <img class="landscape" src="{{ option.image_url }}" alt="Optie {{ forloop.index }}">
                        </button>
                    {% endif %}
                {% endfor %}
            </article>
            
            {% if zone.quest.type == 'button' %}
                <img class="landscape" src="https://fdnd-agency.directus.app/assets/{{ zone.quest.plant.in_bloom }}" alt="">
            {% endif %}

            <article class="nextsteps">
                <button class="styled primary details">Meer over de {{ zone.quest.plant.name }}</button>
                <button popovertarget="{{ zone.slug }}" class="styled secondary">Verder</button>
            </article>
        </section>
        <section class="popoverplantinfo">
            <h2>{{ zone.quest.plant.name }}</h2>
            <p>{{ zone.quest.plant.latin }}</p>
            <p>{{ zone.quest.plant.description }}</p>
            <p>{{ zone.quest.plant.omscription }}</p>
            <article class="detaillist-plants">
                <p><span class="bold"> Ecologische rol:</span> Insecten die in de stengels schuilen dienen als voedselbron voor vogels,</p>
                <p><span class="bold">Gebruik:</span> de wortel van deze plant is vlezig en sappig en kun je rauw of gekookt eten</p>
                <p><span class="bold">Bodem:</span> Inheems, oorsprong: Middellandse Zee. Populaire moestuinplant.</p>
                <p><span class="bold">Leuke weetjes:</span> de zaden zijn zeer voedzaam en rijk aan het omega-6-vetzuur gammalinoleenzuur.</p>
            </article>
            <article class="nextsteps active">
                <button class="styled primary" popovertarget="{{ zone.slug }}">Sluiten</button>
            </article>
            
        </section>
    </section>
    
{% endfor %}